<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>530042554687-be3o7a1p9op4ed45lov21hm8irjpk08f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.530042554687-be3o7a1p9op4ed45lov21hm8irjpk08f</string>
	<key>API_KEY</key>
	<string>AIzaSyAW2j5XprjWVQ6X5lVxUzkPVT_e3bpOO-k</string>
	<key>GCM_SENDER_ID</key>
	<string>530042554687</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.awscode.tecnoanjostec</string>
	<key>PROJECT_ID</key>
	<string>tecnoanjos-b3f51</string>
	<key>STORAGE_BUCKET</key>
	<string>tecnoanjos-b3f51.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:530042554687:ios:6185bc4dc057104b42eb8a</string>
	<key>DATABASE_URL</key>
	<string>https://tecnoanjos-b3f51.firebaseio.com</string>
</dict>
</plist>